In [1]:
import pandas as pd

In [2]:
au_city_df = pd.read_csv('countries_data\\World States Cities\\AU\\AU.csv')
au_city_df

,city,city_ascii,country,admin_name,admin_name_ascii,admin_code,admin_type
0,Towgon Grange,Towgon Grange,Australia,New South Wales,New South Wales,AU-NSW,state
1,Middleton,Middleton,Australia,South Australia,South Australia,AU-SA,state
2,Brownlow,Brownlow,Australia,South Australia,South Australia,AU-SA,state
3,Myack Creek,Myack Creek,Australia,New South Wales,New South Wales,AU-NSW,state
4,Biboohra,Biboohra,Australia,Queensland,Queensland,AU-QLD,state
...,...,...,...,...,...,...,...
13837,Kevin Downs,Kevin Downs,Australia,Queensland,Queensland,AU-QLD,state
13838,Mayers Flat,Mayers Flat,Australia,New South Wales,New South Wales,AU-NSW,state
13839,Cambarville,Cambarville,Australia,Victoria,Victoria,AU-VIC,state
13840,Warning View,Warning View,Australia,New South Wales,New South Wales,AU-NSW,state
13841,Muddy Creek,Muddy Creek,Australia,Victoria,Victoria,AU-VIC,state

In [3]:
cities_state = au_city_df[['city', 'admin_name']]

In [4]:
cities_state = cities_state.rename(columns = {'city_ascii':'city', 'admin_name': 'state'})

In [5]:
cities_state.drop_duplicates(inplace=True)
cities_state

                city            state
0      Towgon Grange  New South Wales
1          Middleton  South Australia
2           Brownlow  South Australia
3        Myack Creek  New South Wales
4           Biboohra       Queensland
...              ...              ...
13837    Kevin Downs       Queensland
13838    Mayers Flat  New South Wales
13839    Cambarville         Victoria
13840   Warning View  New South Wales
13841    Muddy Creek         Victoria

[13381 rows x 2 columns]

In [6]:
cities_state.to_csv("countries_data\\World States Cities\\AU\\AU data.csv", index=False)